<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FNEndpoints.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <FNEndpoints.Properties.Settings>
            <setting name="EpicEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="EpicPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="pakPath" serializeAs="String">
                <value />
            </setting>
            <setting name="consumer_key" serializeAs="String">
                <value />
            </setting>
            <setting name="consumer_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="access_token_key" serializeAs="String">
                <value />
            </setting>
            <setting name="access_token_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="viewer_default_backcolor" serializeAs="String">
                <value>46, 46, 46</value>
            </setting>
            <setting name="viewer_default_forecolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="viewer_BraceLight_backcolor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="viewer_BraceLight_forecolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="viewer_Cursor_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="viewer_Selection_backcolor" serializeAs="String">
                <value>170, 170, 170</value>
            </setting>
            <setting name="viewer_linenumber_forecolor" serializeAs="String">
                <value>183, 183, 183</value>
            </setting>
            <setting name="viewer_Json_PropertyName_forecolor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="viewer_Json_String_forecolor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="viewer_Json_Number_forecolor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="viewer_Json_Operator_forecolor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="viewer_Json_Comment_forecolor" serializeAs="String">
                <value>64, 191, 87</value>
            </setting>
            <setting name="viewer_Json_Uri_forecolor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="viewer_Json_Boolean_forecolor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
        </FNEndpoints.Properties.Settings>
    </userSettings>
</configuration>